<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>

<body>

    <h1>Список студентів</h1>

    <table border="1">
        <tr>
            <th>Ім'я</th>
            <th>Рівень</th>
        </tr>

        <% students.forEach(student=> { %>
            <tr>
                <td>
                    <%= student.name %>
                </td>
                <td>
                    <%= student.level %>
                </td>
            </tr>
            <% }) %>

    </table>

</body>

</html>